
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RetryFailedTests" verbose="1" >
 <listeners>
        <listener class-name="testng.Transformer"/>
  </listeners>
  <test name="RetryMulitple">
    <classes>
      <class name="testng.TestRetry1"/>
    </classes>
  </test>
</suite>
